{%extends 'main/basehood.html'%}
{% load staticfiles%}
{% load bootstrap4 %}

{% block content %}

    <div class="container" style="margin-top:6rem">
        <div class="row">
            <div class="col-md-8">
                <h3 class="btn btn-dark text-light text-center">Available Businesses</h3>
                {% for b in bus %}
               <div class="card">
                   <div class="card-body">
                        <h3><span class="btn btn-success">Name</span>:<span class="ml-3">{{b.bName}}</span></h3>
                        <h3><span class="btn btn-success">contact</span>:<span class="ml-3">{{b.bEmail}}</span></h3>
                   </div>
               </div>      
                {% endfor%}
            </div>
            <div class="col-md-4">
                <h3 class=" btn btn-dark text-light text-center">Important contacts:</h3>
                <div class="contacts">
                    <h3><span class="btn btn-success">Health Contact</span>: <span class="ml-3">{{hoods.health_contact}}</span></h3>
                    <h3><span class="btn btn-primary">Police Contact</span>:<span class="ml-3">{{hoods.police_contact}}</span></h3>
                    <h3><span class="btn btn-warning">Occupants</span>:<span class="ml-3">{{hoods.occupants}}</span></h3>
                    
                    <a href="{% url 'new_post' hoods.id%}" class="btn btn-outline-primary">Add Post</a>
                </div>
            </div>
        </div>
        <h1 class="text-center">Posts</h1>
                {% if posts%}
                <div class="row">
                {%for post in posts%}
                    <div class="col-sm-12 col-md-4">
                    <div class="card" styles="">
                            
                            
                                <div class="card-header">
                                       <h4 class="btn btn-light">posted by-<cite>{{user.username}}</cite></h4>
                                <div class="cardb-body">
                                        <img src="{{post.image.url}}" class="card-img-top" alt="{{post.name}}" class="img-thumnail" styles="">
                                </div>
                                <div class="card-text">
                                    <p>{{post.content}}</p>
                                </div>
                                <div class="card-footer">
                                    {{post.date_posted|timesince}}<span class="ml-2">ago</span>
                                </div>
                            </div>
                    </div>
            </div>
            {%endfor%}
            </div>
            {%else%}
            <h3 class="text-center">No posts yet</h3>
            {%endif%}
        
        
    

        </div>   
     
{% endblock %}